<!DOCTYPE html>
<html>
<head>
<style>
h1 {
    text-align:center;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgba( 71, 147, 227, 1);
}

/* Button styles */

.normalButton, .downButton {
    /* round corners */
    border-radius: 20px;
    width: 150px;
    height: 80px;
    font-size: 18px;
}

/* Custom */
.normalButton {
    /* round corners */
    border-color: rgb(32, 148, 113);
    background: #4FC3A1;
}

.downButton {
    /* round corners */
    border-color: #a83457;
    background: #c34f71;
}

.normalButton:hover {
    background: rgb(29, 124, 96);
    /* show mouse cursor (hand) if hovering */
    cursor:pointer;
}

.downButton:hover {
    background: #913550;
    /* show mouse cursor (hand) if hovering */
    cursor:pointer;
}

/* Table Styles */

.table-wrapper{
    border-radius: 5px;
    margin: 20px 70px 70px;
    width: 90%;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: separate;
    border-style: solid;
    border-width:thin;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 18px;
    max-width: 200px;
    word-wrap:break-word;
    white-space: normal;
}

.tdStateRunning {
    background: #4FC3A1;
    font-size: 18px;
}

.tdStateNotRunning {
    background: #c34f71;
    font-size: 18px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

</style>
</head>
<body>

<h1>Virtual Machine List</h1>

<div class="table-wrapper">
    <table class="fl-table">
    <thead>
    <tr>
        <th>PID</th>
        <th>VM Name</th>
        <th>CPU Cores</th>
        <th>RAM (GB)</th>
        <th>State</th>
        <th>OS</th>
        <th>VM Control</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{range .Vminfos}}
    <tr>
        <td>{{.PID}}</td>
        <td>{{.VM.Name}}</td>
        <td>{{.VM.CPU}}</td>
        <td>{{.VM.RAM}}</td>
        <td {{if eq .State "running"}}class="tdStateRunning"{{else}}class="tdStateNotRunning"{{end}}>{{.State}}</td>
        <td>
            <img style="max-width: 60px;" src="images/oslogo/{{.VM.OS}}.png" onError="this.onerror=null; this.src='images/oslogo/unknown.png';" />
        </td>
        <td>
            <button class="downButton" onclick="location.href='./guest/poweroff'" type="button">Gracefully shutdown</button>
            <button class="downButton" onclick="location.href='./kill/{{.VM.Name}}'" type="button">Kill</button>
        </td>
        <td><button class="normalButton" onclick="location.href='./vm/{{.VM.Name}}'" type="button">Manage</button></td>
    </tr>
    {{end}}
    </tbody>
    </table>
</div>

<div class="table-wrapper">
    <table class="fl-table">
    <thead>
    <tr>
        <th>IOMMU Group</th>
        <th>PCI Device Address</th>
        <th>PCI Device Name</th>
        <th>PCI ID</th>
    </tr>
    </thead>
    <tbody>
    {{range .Pcidevices}}
    <tr>
        <td>{{.Iommugroup}}</td>
        <td>{{.Address}}</td>
        <td>{{.Name}}</td>
        <td>{{.ID}}</td>
    </tr>
    {{end}}
    </tbody>
    </table>
</div>